h1 {
  font-weight: bold;
  margin: 0;
}

button {
  color: #1865c1;
  border-radius: 1px;
  border: 2px solid #1865c1;
  background-color: #bbd0ee;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin: auto;
  max-width: 25%;
}

button:hover {
  background-color: #5582ed;
  transition: ease 0.5s;
}

button:active {
  scale: 0.9;
}

p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 15px;
}

.container {
  margin-top: 60px;
  background-color: rgb(45, 49, 51);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  position: relative;
  overflow: hidden;
  width: 1200px;
  max-width: 100%;
  min-height: 800px;
}

.overlay-panel {
  padding: 15%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.aspect-ratio-1-1 {
  padding: 5px;
  margin: 15px;
  display: inline-block;
  width: 400px;
  text-align: center;
}

.img {
  border: 3px solid #1865c1;
  background-color: #bbd0ee;
  width: 100%;
}

.img:hover {
  cursor: pointer;
}

.img:active {
  scale: 0.9;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
