<div class="container fadeInRight">
  <div class="overlay-panel">
    <div class="row align-items-md-stretch text-center">
      <h1>Registrarse</h1>
      <hr />
      <div class="aspect-ratio-1-1">
        <img
          src="/assets/register/specialist.png"
          class="img"
          routerLink="./specialist"
        />
        <p>Especialista</p>
      </div>
      <div class="aspect-ratio-1-1">
        <img
          src="/assets/register/patient.png"
          class="img"
          routerLink="./patient"
        />
        <p>Paciente</p>
      </div>
      <p>Si ya se encuentra registrado haga click a continuación</p>
      <br />
      <button type="button" class="btn btn-outline-light" routerLink="/login">
        Iniciar sesión
      </button>
    </div>
  </div>
</div>
