button {
  width: 60%;
}

table,
thead,
tbody,
tr,
th,
td,
h1 {
  background-color: rgb(45, 49, 51) !important;
  color: rgb(232, 230, 227);
}

tr.row {
  display: contents;
}

.container-fluid {
  margin-top: 100px;
}

.container {
  background-color: rgb(45, 49, 51);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 300px;
  max-width: 100%;
  min-height: 200px;
}
