<hr />
<div class="d-flex justify-content-between align-items-center">
  <h4>Ingresos al sistema</h4>
  <label (click)="downloadData()" class="btn btn-dark">Descargar</label>
</div>
<hr />
<div *ngIf="logs != ''; else elseBlock">
  <div class="tbodyDiv">
    <table
      class="table table-striped table-bordered table-hover"
      id="logs-table"
    >
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Dia</th>
          <th>Hora</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of logs">
          <td>{{ log.displayName }}</td>
          <td>{{ log.date }}</td>
          <td>{{ log.time }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #elseBlock>
  <label class="btn btn-outline-danger">No hay registros que mostrar</label>
</ng-template>
