h3 {
  margin: auto;
  padding: 0.3em;
}

.btn {
  width: 95%;
  margin: 5px;
  color: rgb(232, 230, 227);
}

.btn:hover {
  color: white;
  transition: ease 0.5s;
  background-color: #3b424a;
}

.btn:active {
  scale: (0.9);
}

.info {
  background-color: rgb(232, 230, 227);
  border: 3px solid rgb(232, 230, 227);
  color: black;
  border-radius: 5px;
}
