<div class="row align-items-md-stretch" *ngIf="user != 'Admin'">
  <h1 style="margin: 1em 1em 0.5em"><strong>Solicitar Turno</strong></h1>
  <div class="col-md-4">
    <app-request-appointment-specialty
      (selectedSpecialtyEvent)="selectedSpecialty($event)"
    >
    </app-request-appointment-specialty>
  </div>

  <div class="col-md-4">
    <app-request-appointment-specialist
      (selectedDoctorEvent)="selectedDoctor($event)"
      [specialty]="specialty"
    >
    </app-request-appointment-specialist>
  </div>

  <div class="col-md-4">
    <app-request-appointment-date
      [doctor]="doctor"
      [patient]="patient"
      [specialty]="specialty"
    ></app-request-appointment-date>
  </div>
</div>

<div class="row align-items-md-stretch" *ngIf="user == 'Admin'">
  <h1 style="margin: 1em 1em 0.5em"><strong>Solicitar Turno</strong></h1>
  <div class="col-md-3">
    <app-request-appointment-patient
      (selectedPatientEvent)="selectedPatient($event)"
    ></app-request-appointment-patient>
  </div>

  <div class="col-md-3">
    <app-request-appointment-specialty
      (selectedSpecialtyEvent)="selectedSpecialty($event)"
    >
    </app-request-appointment-specialty>
  </div>

  <div class="col-md-3">
    <app-request-appointment-specialist
      (selectedDoctorEvent)="selectedDoctor($event)"
      [specialty]="specialty"
    >
    </app-request-appointment-specialist>
  </div>

  <div class="col-md-3">
    <app-request-appointment-date
      [doctor]="doctor"
      [patient]="patient"
      [specialty]="specialty"
    ></app-request-appointment-date>
  </div>
</div>
