@import "bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  background-color: rgb(38, 42, 43);
  color: rgb(232, 230, 227);
  user-select: none;
}

.form-control,
.form-select {
  background-color: #181a1b;
  border: 1px solid #383d3f;
  color: rgb(232, 230, 227);
}

.form-control:focus,
.form-select:focus {
  background-color: #3c4144;
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
