* {
  color: rgb(232, 230, 227);
}

rect {
  fill: green;
}

.container-fluid {
  margin: auto;
  margin-top: 100px;
  background-color: rgb(45, 49, 51);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 1200px;
  max-width: 100%;
  min-height: 800px;
}

buttom {
  margin-top: 200px;
}
