<div class="container-fluid">
  <div class="row align-items-md-stretch">
    <div class="col-md-12">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h1>Informes</h1>
        <hr />
        <div class="container">
          <div class="col">
            <div class="col">
              <app-appointments-specialty></app-appointments-specialty>
            </div>
            <div class="col">
              <app-appointments-per-day></app-appointments-per-day>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <app-appointments-ended></app-appointments-ended>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
