button {
  margin: 5px;
}

.btn {
  width: 100%;
  margin: 5px;
}

.filtrados {
  background-color: blue;
  width: 100%;
  text-align: center;
}

.info {
  background-color: blue;
  border: 3px solid blue;
  border-radius: 10px;
}

.grennS {
  background-color: green;
  border: 3px solid green;
  border-radius: 10px;
}

.yellowC {
  background-color: rgb(241, 241, 131);
  border: 3px solid rgb(241, 241, 131);
  border-radius: 10px;
}

.redC {
  background-color: lightskyblue;
  border: 3px solid lightskyblue;
  border-radius: 10px;
}
