.main-container {
  margin: auto;
  margin-top: 100px;
  background-color: rgb(45, 49, 51);
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 1200px;
  max-width: 100%;
  min-height: 800px;
}

button {
  margin: 5px;
}

button:active {
  scale: 0.9;
}

.btn {
  width: 100%;
  margin: 5px;
}

.container {
  text-align: center;
}

.filtrados {
  text-align: center;
  margin: auto;
  background-color: lightblue;
  color: black;
  width: 100%;
}

.info {
  background-color: rgb(232, 230, 227);
  border: 3px solid rgb(232, 230, 227);
  color: black;
  border-radius: 5px;
}

.grennS {
  background-color: lightgreen;
  border: 3px solid lightgreen;
  border-radius: 5px;
}

.yellowC {
  background-color: rgb(241, 241, 131);
  border: 3px solid rgb(241, 241, 131);
  border-radius: 5px;
}

.redC {
  background-color: lightcoral;
  border: 3px solid lightcoral;
  border-radius: 5px;
}

table,
th,
tr,
td {
  color: rgb(232, 230, 227);
  background-color: #212529;
}

.modal-body,
.modal-content {
  background-color: #3f4548;
  color: rgb(232, 230, 227);
  font-size: 16px;
}

.modal-footer button {
  border-color: rgb(232, 230, 227);
  color: rgb(232, 230, 227);
  transition: ease 0.5s;
  background-color: #3b424a;
}

.modal-footer button:hover {
  color: white;
  transition: ease 0.5s;
  background-color: #4c5560;
}

.modal-footer button:active {
  scale: (0.9);
}

p {
  color: rgb(232, 230, 227);
}

.modal-footer h1 {
  padding: 1rem 1rem 0rem;
}

::placeholder {
  color: rgb(232, 230, 227);
}
